.likeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  flex-direction: row;
  height: 20px;
}

.like {
  border: none;
  background: none;
  padding: 0;
}

.likeCount {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #6e6e6e;
  margin: 0;
}

.likeIcon {
  cursor: pointer;
  width: 13px;
  height: 13px;
}

.likeIcon:hover {
  fill: red;
}
