.wrapper {
  max-width: 100%;
  height: 70px;
  margin: 0;
}

.menu {
  background: #262442;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 120px;
  position: relative;
  margin: 0;
  height: 100%;
  list-style: none;
  text-wrap: nowrap;
}

.logo {
  margin-right: 30px;
  cursor: pointer;
  width: 49px;
  height: 68px;
}

.menu li a:hover {
  background: linear-gradient(
    229.99deg,
    #ba38ff -2.16%,
    #af2eff 16.16%,
    #9e00ff 51.38%,
    #5532ff 71.26%,
    #5431ff 79.66%,
    #5430ff 93.81%
  );
}

.link {
  color: #ffffff;
  text-decoration: none;
  padding: 24px 30px;
}

.dropdownContent {
  position: absolute;
  background: #262442;
  display: flex;
  margin-top: 23px;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  border-radius: 0px 0px 15px 15px;
}

.dropdownLink {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding: 12px 26px;
}

.dropdownLink:last-child {
  border-radius: 0px 0px 15px 15px;
}

.dropdownContent {
  display: none;
}
